<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/main.html}"
      lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title th:text="${title}"></title>


    </head>

    <div layout:fragment="content">

        <div id="form" class="my-4">
            <form th:action="@{/admin/gerir/utilizador/registrar}" method="POST" th:object="${user}">
                <div class="row my-4">
                    <div class="col">
                        <input th:field="*{username}" type="text" class="form-control" placeholder="Usuario" th:maxlength="30">
                        <div th:if="${#fields.hasErrors('username')}">
                            <p th:errors="*{username}" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="col">
                        <input th:field="*{email}" type="text" class="form-control" placeholder="Email" th:maxlength="60">
                        <div th:if="${#fields.hasErrors('email')}">
                            <p th:errors="*{email}" class="text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col">
                        <input id="pass" th:field="*{password}" type="password" class="form-control" placeholder="Senha" th:maxlength="20">
                        <div th:if="${#fields.hasErrors('password')}">
                            <p th:errors="*{password}" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="col">
                        <input id="confirmPass" type="password" class="form-control" name="conf_pass" placeholder="Confirmar a senha" th:maxlength="20">
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col">
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Permissões
                            </button>
                            <div class="dropdown-menu ml-2 p-2">
                                <div class="custom-control custom-checkbox" th:each="role : ${roles}">
                                    <input class="custom-control-input" th:id="${role.id}" type="checkbox" th:field="*{roles}" name="role" th:value="${role.id}"/>
                                    <label class="custom-control-label" th:for="${role.id}" th:text="${role.name}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('roles')}">
                            <label th:errors="*{roles}" class="validation-message"></label>
                        </div>
                        <div th:if="${#fields.hasErrors('roles')}">
                            <p th:errors="*{roles}" class="text-danger">.text-danger</p>
                        </div>
                    </div>
                    <div class="col">
                        <button th:onsubmit="validate()" class="btn btn-primary">
                            <span class="fa fa-save"></span>
                            Salvar
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <table class="table table-striped table-hover" title="Usuarios cadastrados">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Perfil</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Accao</th>
                </tr>
            </thead>
            <tbody>
                <tr th:id="${user.id}" th:each="user,i : ${users}"> 
                    <th scope="row" th:text="${i.count}"></th>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.username}"></td>
                    <td>
                        <span th:each="roles,i : ${user.roles}">
                            <span th:text="${roles.name}"></span>
                            <th:block th:if="${!i.last}">,</th:block>
                        </span>                            
                    </td>
                    <td>Ativo</td>
                    <td>
                        <a th:attr="onclick = ${'openModalUpdate('+ user.id +')'}" href="#" class="btn btn-primary fa fa-edit text-white" title="editar a conta"></a>
                        <a th:attr="onclick = ${'modalRemover('+ user.id +')'}" href="#" class="btn btn-danger fa fa-trash text-white" title="eliminar a conta"></a>
                        <a class="btn btn-danger fa fa-lock text-white" title="bloquear a conta"></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Modals -->
        <div th:include="fragments/modals/modal :: delete_user_conf"></div>
        <div th:include="fragments/modals/modal :: update_user"></div>

    </div>
</html>